<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acerca</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium voluptatem expedita sit atque corporis vel animi, nobis aspernatur nostrum? Laboriosam corrupti ut dolor quisquam numquam asperiores expedita, accusamus cupiditate ipsa!</h1>
    <a href="index.html">volver a la pagina principal</a>
        <a href="contacto.html">contacto</a>
    
</body>
</html>