<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ola</title>
</head>
<body>
    <h1>
        si estas viendo esto significa que funciono
    </h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore recusandae ab corporis ratione quidem quis ullam vel eligendi maiores velit, laborum pariatur provident mollitia quam error ut animi. Commodi, incidunt.</h1>
    
</body>
</html>